@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
margin:0 ;
padding:0 ;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}
body{
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu01 .navbar01 ul li{
    position:relative;
    float: left;
}
.menu01 .navbar01 ul li a{
    font-size: 25px;
    padding: 30px;
    margin-left: 75px; 
    text-decoration: underline;
    color: #1B293a;
    display: block;
    font-weight: 150;   
}

.perfil01{
    position: relative;  
    margin-top: 100px;  
    margin-left: 75px;
    color: red;
}
